{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{ anime.image }}" class="img-fluid rounded shadow">
    </div>

    <div class="col-md-8">
        <h2>{{ anime.title }}</h2>
        <p><b>Thể loại:</b> {{ anime.genres }}</p>
        <p><b>Hạng:</b> {{ anime.popularity }}</p>
        <p><b>Điểm:</b> {{ anime.score }}</p>
        <p><b>Số tập:</b> {{ anime.episodes }}</p>
        <p><b>Trạng thái:</b> {{ anime.status }}</p>
        <p><b>Lượt yêu thích:</b> {{ anime.favorites }}</p>
        {% if session.username %}
            {% if is_favorite %}
                <a href="/favorite/{{ anime.id }}" class="btn btn-warning">💛 Đã yêu thích</a>
            {% else %}
                <a href="/favorite/{{ anime.id }}" class="btn btn-outline-warning">💛 Thêm yêu thích</a>
            {% endif %}
        {% endif %}

        <h4>Đánh giá anime</h4>

        {% if user_rating %}
            <p>Bạn đã đánh giá: <b>{{ user_rating }}/10</b></p>
            <a href="/rate/delete/{{ anime.id }}" class="btn btn-danger btn-sm mb-2">Xóa đánh giá</a>
        {% else %}
            <p>Bạn chưa đánh giá anime này.</p>
        {% endif %}

        <div class="rating-buttons">
            {% for i in range(1, 11) %}
                <a href="/rate/{{ anime.id }}/{{ i }}"
                class="rate-btn {% if user_rating == i %}active-rate{% endif %}">
                    {{ i }}
                </a>
            {% endfor %}
        </div>

    </div>
</div>

<hr>

<p><b>Mô tả:</b> {{ anime.synopsis_clean }}</p>

<hr>

<h3>Gợi ý anime tương tự</h3>

<div class="row g-4 mt-2">
    {% for a in recommendations %}
    <div class="col-6 col-md-3 col-lg-2">
        <div class="card anime-card">
            <img src="{{ a.image }}" class="card-img-top">
            <div class="card-body text-center">
                <a href="/anime/{{ a.id }}" class="anime-title-link">{{ a.title }}</a>
                <p class="text-muted small">{{ a.genres }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
